.mainDash {
  display: flex;
  flex-direction: column;
  padding-block: 1.6rem;
  overflow: auto;
}

.mainDash::-webkit-scrollbar {
  display: none;
}

.mainDash header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainDash header .left {
  font-size: 22px;
  font-weight: 600;
}

.mainDash header .right {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 10px;
  border-radius: 5px;
}

.mainDash header .right input {
  outline: none;
  border: none;
  padding: 5px;
}

.mainDash header .right input::placeholder {
  color: gray;
  font-weight: 500;
}

.mainDash .middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

/* Responsiveness */
@media screen and (max-width: 1505px) {
  .mainDash .middle {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .mainDash header {
    flex-direction: column;
    gap: 10px;
  }
}
