.overview {
  background: #fff;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  overflow-x: auto;
}

.overview .up {
  display: flex;
  justify-content: space-between;
}

.overview .up select {
  outline: none;
  border: none;
  background: #f5f5f9;
  padding: 5px 5px;
  border-radius: 5px;
}

.overview .subHeading {
  color: gray;
}

/* .overview .down {
  margin: -30px -20px 0 -20px;
} */
