.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-block: 1.6rem;
  transition: all 0.3s ease;
  background: #040450;
  color: #fff;
  height: 100%;
}

.logo {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  gap: 0.5rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
}

.menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 5px 10px;
  position: relative;
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
}

.menuItem .itemHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuItem .itemHeading > :nth-child(1) {
  font-size: 26px;
}

.menuItem.active > :nth-child(2) {
  display: none;
}

.menuItem:hover {
  cursor: pointer;
}

.active {
  background: rgba(255, 255, 255, 0.3);
}

.menu #user {
  bottom: 50px;
  border-radius: 5px;
  margin-inline: -10px;
  position: absolute;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
}

.user img {
  width: 35px;
  height: 35px;
}

.user .userInfo {
  display: flex;
  flex-direction: column;
}

.user .userInfo .userName {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.user .userInfo .userDesignation {
  color: #dadada;
  font-size: 12px;
}

.user > svg {
  margin-left: 40px;
}

.bars {
  display: none;
  position: fixed;
  top: 25px;
  font-size: 22px;
  z-index: 9;
  color: #fff;
  background: #040450;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
}

/* ********** Responsiveness ********** */
@media screen and (max-width: 1250px) {
  .menu {
    gap: 0.6rem;
  }
}

/* ********** Mobile Responsiveness ********** */
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 8;
    background: #040450;
    width: 15rem;
    height: 100%;
  }

  .bars {
    display: block;
  }
}
