* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #dadada;
  display: grid;
  grid-template-columns: 15.5rem auto;
  height: 100vh;
  gap: 50px;
  padding-right: 50px;
  font-family: 'Inter', sans-serif;
}

.bars {
  display: none;
}

a:-webkit-any-link {
  color: #000 !important;
  text-decoration: none !important;
}

/* ********** Responsiveness ********** */
@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

/* ********** Mobile Responsiveness ********** */
@media screen and (max-width: 600px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }

  .AppGlass::-webkit-scrollbar {
    display: none;
  }
}
